@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('./weatherIcons/weather-icons.css');

@mixin flex-col {
    display: flex;
    flex-direction: column;
}

$mainColor: #1E1E2C;
$lightContrast: #515178;
$lightShade: #565699;
$lightShade20: #7d7dc5;

* {
    box-sizing: content-box;
    padding: 0;
    margin: 0;
    border: 0;
}

.hide {
    display: none;
}

body {
    background: $mainColor;
}

main {
    @include flex-col();
    align-items: center;
    justify-content: center;
    // padding: 0 5%;
    height: 100vh;

}

.title__section {
    @include flex-col();
    align-items: center;
    justify-content: center;

    margin-top: 15rem;
    margin-bottom: 2rem;
}

.app__title{
    color: #AAA;
    font-size: 5rem;
    font-family: sans-serif;
    margin-bottom: 0.5rem;
    overflow-wrap: break-word;
}

.btn__descubra{
    font-size: 3rem;
    background: none;
    color: $lightShade;
    border: 5px solid ;
    border-radius: 15px;
    padding: 0.5rem 1rem;
}

.cards__container--title{
    font-size: 3rem;
    color: #AAA;
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 1rem;
}

.cards__container{
    display: flex;
    justify-content: center;
    // flex-wrap: wrap;
    gap: 5vw;
}

.card--size {
    $size: 38vw;
    
    min-height: $size;
    min-width: calc($size * 0.80);
}

.glassMorph {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.card-wrapper {
    @include flex-col;
    padding: 1.5vh;
    border-radius: 5%;

    .card__icon {
        margin-top: 10%;
        font-size: 15vw;
        text-align: center;

        &::before {
            display: inline-block;
        }
    }

    .card__body {
        @include flex-col();
        align-items: center;
        text-align: center;
        font-family: 'Ubuntu';
        margin-top: auto;
        margin-bottom: 2% ;

        .card__title {
            color: $lightShade20;
            font-size: 1.75rem;
        }

        .card__temperature {
            @include flex-col();
            font-size: 1.5rem;
            margin-top: 10%;
            width: 100%;

            &__minmax {
                display: flex;
                justify-content: space-between;
                font-size: 1.25rem;
                margin-top: 5%;
            }
        }

    }

    animation: fadeIn 1s;

    @keyframes fadeIn {
        0% { opacity: 0;}
        100% { opacity: 1;}
    }
}

.card__theme--var1 {
    backdrop-filter: blur(10px);
    background-image: linear-gradient(40deg,
            hsl(240deg 32% 12%) 0%,
            hsl(240deg 31% 12%) 18%,
            hsl(240deg 29% 12%) 26%,
            hsl(240deg 28% 13%) 33%,
            hsl(240deg 26% 13%) 39%,
            hsl(240deg 26% 12%) 44%,
            hsl(239deg 26% 12%) 50%,
            hsl(239deg 26% 11%) 56%,
            hsl(240deg 26% 11%) 61%,
            hsl(240deg 28% 11%) 67%,
            hsl(240deg 29% 11%) 74%,
            hsl(240deg 31% 12%) 82%,
            hsl(240deg 32% 12%) 100%);
    // border: 2px solid $lightContrast;
    border-radius: 10%;
    color: $lightShade;

    .card__icon {
        &::before {
            widows: unset;
        }
    }


}